body {
	line-height: 1.2;
}

.title {
	font-size: 2.5rem;
}

.subtitle {
	font-style: italic;
	font-weight: bold;
	font-size: 1.8rem;
}

.author {
	font-size: 1.5rem;
	font-weight: normal;
}

.date {
	font-weight: normal;
	font-size: 1rem;
}

hr {
	border: none;
	margin: 3rem auto;
	text-align: center;
}

hr::before {
	content: "•••";
	letter-spacing: 2rem;
}
